In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler  
from sklearn.metrics import log_loss,accuracy_score

In [20]:
pwd

'/Users/shambhusharansinha/Desktop/ml proj/walmart'

In [21]:
cd walmart

[Errno 2] No such file or directory: 'walmart'
/Users/shambhusharansinha/Desktop/ml proj/walmart

In [22]:
data=pd.read_csv('train.csv')
data.head(5)

,TripType,VisitNumber,Weekday,Upc,ScanCount,DepartmentDescription,FinelineNumber
0,999,5,Friday,6.811315e+10,-1,FINANCIAL SERVICES,1000.0
1,30,7,Friday,6.053882e+10,1,SHOES,8931.0
2,30,7,Friday,7.410811e+09,1,PERSONAL CARE,4504.0
3,26,8,Friday,2.238404e+09,2,PAINT AND ACCESSORIES,3565.0
4,26,8,Friday,2.006614e+09,2,PAINT AND ACCESSORIES,1017.0

In [23]:
types=data['DepartmentDescription'].unique()
print(types)

['FINANCIAL SERVICES' 'SHOES' 'PERSONAL CARE' 'PAINT AND ACCESSORIES'
 'DSD GROCERY' 'MEAT - FRESH & FROZEN' 'DAIRY' 'PETS AND SUPPLIES'
 'HOUSEHOLD CHEMICALS/SUPP' nan 'IMPULSE MERCHANDISE' 'PRODUCE'
 'CANDY, TOBACCO, COOKIES' 'GROCERY DRY GOODS' 'BOYS WEAR'
 'FABRICS AND CRAFTS' 'JEWELRY AND SUNGLASSES' 'MENS WEAR' 'ACCESSORIES'
 'HOME MANAGEMENT' 'FROZEN FOODS' 'SERVICE DELI'
 'INFANT CONSUMABLE HARDLINES' 'PRE PACKED DELI' 'COOK AND DINE'
 'PHARMACY OTC' 'LADIESWEAR' 'COMM BREAD' 'BAKERY' 'HOUSEHOLD PAPER GOODS'
 'CELEBRATION' 'HARDWARE' 'BEAUTY' 'AUTOMOTIVE' 'BOOKS AND MAGAZINES'
 'SEAFOOD' 'OFFICE SUPPLIES' 'LAWN AND GARDEN' 'SHEER HOSIERY' 'WIRELESS'
 'BEDDING' 'BATH AND SHOWER' 'HORTICULTURE AND ACCESS' 'HOME DECOR' 'TOYS'
 'INFANT APPAREL' 'LADIES SOCKS' 'PLUS AND MATERNITY' 'ELECTRONICS'
 'GIRLS WEAR, 4-6X  AND 7-14' 'BRAS & SHAPEWEAR' 'LIQUOR,WINE,BEER'
 'SLEEPWEAR/FOUNDATIONS' 'CAMERAS AND SUPPLIES' 'SPORTING GOODS'
 'PLAYERS AND ELECTRONICS' 'PHARMACY RX' 'MENSWEAR' 'OPTICAL - FRAMES'
 'SWIMWEAR/OUTERWEAR' 'OTHER DEPARTMENTS' 'MEDIA AND GAMING' 'FURNITURE'
 'OPTICAL - LENSES' 'SEASONAL' 'LARGE HOUSEHOLD GOODS' '1-HR PHOTO'
 'CONCEPT STORES' 'HEALTH AND BEAUTY AIDS']

In [24]:
label_encoder = preprocessing.LabelEncoder()
data['DepartmentDescription']=label_encoder.fit_transform(data['DepartmentDescription'])
data.head(5)

,TripType,VisitNumber,Weekday,Upc,ScanCount,DepartmentDescription,FinelineNumber
0,999,5,Friday,6.811315e+10,-1,20,1000.0
1,30,7,Friday,6.053882e+10,1,62,8931.0
2,30,7,Friday,7.410811e+09,1,50,4504.0
3,26,8,Friday,2.238404e+09,2,49,3565.0
4,26,8,Friday,2.006614e+09,2,49,1017.0

In [25]:
weekday=data['Weekday'].unique()
print(weekday)
data['Weekday']=label_encoder.fit_transform(data['Weekday'])
data.head(5)

['Friday' 'Saturday' 'Sunday' 'Monday' 'Tuesday' 'Wednesday' 'Thursday']

,TripType,VisitNumber,Weekday,Upc,ScanCount,DepartmentDescription,FinelineNumber
0,999,5,0,6.811315e+10,-1,20,1000.0
1,30,7,0,6.053882e+10,1,62,8931.0
2,30,7,0,7.410811e+09,1,50,4504.0
3,26,8,0,2.238404e+09,2,49,3565.0
4,26,8,0,2.006614e+09,2,49,1017.0

In [26]:
data.drop(columns=['Upc'],inplace=True)### UPC is not a useful feature

In [27]:
data['VisitNumber'].unique()
data.head(10)

,TripType,VisitNumber,Weekday,ScanCount,DepartmentDescription,FinelineNumber
0,999,5,0,-1,20,1000.0
1,30,7,0,1,62,8931.0
2,30,7,0,1,50,4504.0
3,26,8,0,2,49,3565.0
4,26,8,0,2,49,1017.0
5,26,8,0,2,49,1017.0
6,26,8,0,1,49,1017.0
7,26,8,0,1,49,2802.0
8,26,8,0,1,49,4501.0
9,26,8,0,-1,49,3565.0

In [28]:
data.describe()

,TripType,VisitNumber,Weekday,ScanCount,DepartmentDescription,FinelineNumber
count,647054.000000,647054.000000,647054.000000,647054.000000,647054.000000,642925.000000
mean,58.584511,96167.640078,2.767049,1.108878,31.512537,3726.884567
std,157.635533,55545.485154,1.878723,0.700776,17.177792,2780.966158
min,3.000000,5.000000,0.000000,-12.000000,0.000000,0.000000
25%,27.000000,49268.000000,1.000000,1.000000,17.000000,1404.000000
50%,39.000000,97074.000000,3.000000,1.000000,28.000000,3352.000000
75%,40.000000,144316.000000,4.000000,1.000000,50.000000,5501.000000
max,999.000000,191347.000000,6.000000,71.000000,68.000000,9998.000000

In [29]:
print(data.isna().sum())###checking na values

TripType                    0
VisitNumber                 0
Weekday                     0
ScanCount                   0
DepartmentDescription       0
FinelineNumber           4129
dtype: int64

In [30]:
data['FinelineNumber'].unique()

array([1000., 8931., 4504., ..., 8257., 4314., 7130.])

In [31]:
data.loc[:,'FinelineNumber'].fillna(value=0,inplace=True)
print(data.isna().sum())

TripType                 0
VisitNumber              0
Weekday                  0
ScanCount                0
DepartmentDescription    0
FinelineNumber           0
dtype: int64

In [32]:
y=data.iloc[:,4]
x=data.iloc[:,0:3]
x['FinelineNumber']=data['FinelineNumber']

In [33]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [35]:
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.fit_transform(x_test)

from sklearn.linear_model import LogisticRegression
logic=LogisticRegression(random_state=0)
logic.fit(x_train,y_train)

In [36]:
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()

In [37]:
lr.fit(x_train,y_train)

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [ ]:
y_pred=rf.predict(x_test)

In [ ]:

print(y_pred)

[31.22 41.   16.02 ...  4.   17.   16.  ]

In [ ]:
accuracy=accuracy_score(y_pred,y_test)
print(accuracy)

ValueError: Classification metrics can't handle a mix of continuous and multiclass targets